<!DOCTYPE html>
<html>
{% load staticfiles %}

    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    </head>

    <script>
      {% if status %}
        alert('{{status}}');
      {% endif %}
    </script>

    <body>
    <div id="container">

        <div id="navbar">
            <ul>
                    <li>    <a href="/dashboard/" class="active"> Home </a>                         </li>
                    <li>    <a href="/run/"> Run script </a>                                        </li>
                    <li>    <a href="/emails/add/"> Add Emails </a>                                 </li>
                    <li>    <a href="/emails/del/"> Delete Emails </a>                              </li>
                    <li>    <a href="/logout/"> Logout </a>                                         </li>
                    <li>    <a href="/script/failed_nums.csv"> Download failed number csv file </a> </li>
                    <li>    <a href="/script/data.xls"> Download data xls file </a>                 </li>

            </ul>
        </div>


        <div id="content">


                <h1>Upload .csv file</h1>


                <form id="upload_form" method="post" action="" enctype="multipart/form-data">

                    {% csrf_token %}

                    <span>  Upload File:</span> <input type="file" name="csv_file" />
                    <br /><br />

                    <span>  Update: </span> <input type="text" name="time" value="" size="50"  class="intext" />
                    <br />

                    <span>  Time:   </span> <input type="text" name="anotherTime" value="" size="50" class="intext" />
                    <br />

                    <center>    <input type="submit" value="Upload" />  </center>

                </form><br /><br />


                <h3>Or</h3>

                <h1>Enter Single Number</h1>

                <form id="data_form" method="post" action="">

                    {% csrf_token %}

                    <span>  Number:  </span><input type="text" name="number" value="" size="50" class="intext"/>
                    <br />
                    <span>  Type:   </span><input type="text" name="type" value="" size="50" class="intext"/>
                    <br />
                    <span>  Alias:   </span><input type="text" name="alias" value="" size="50" class="intext"/>
                    <br />
                    <span>  Update:  </span><input type="text" name="time" value="" size="50" class="intext"/>
                    <br />
                    <span>  Time:   </span> <input type="text" name="anotherTime1" value="" size="50" class="intext" />
                    <br />

                    <center>    <input type="submit" value="Submit" />  </center>

                </form>

        </div>

    </div>

</body>
</html>
